        *{
            margin: 0;
            padding: 0;
        }
        body{
            max-height: 100vh;
            max-width: 100%;
            background: linear-gradient(to right,#89abed,#9fbaf1);
            background-size: contain;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .body{
            height:490px;
            width:350px;
            margin-top: 120px;
            background: #94c0ef;
            padding:20px 0;
            border: 3px solid #1b7fa6;
            border-radius: 15px;
            box-shadow: -1px 0px 17px 0 rgb(22, 22, 22);
        }
        .body input{
            color:rgb(30, 30, 30);
           height: 60px;
           font-size: 25px;
           margin-left: 6px;
           font-weight: bold;
           border: 3px solid #1b7fa6;
           outline: none;
           border-radius: 10px;
           margin-bottom: 21px;
           box-shadow: 0 10px 15px rgba(0,0,0,0.2);
        }
        .body .buttons{
            padding: 30px 0;
            margin-left: 24px;
        }
        button{
            height: 62px;
            width: 60px;
            text-align: center;
            align-items: center;
            border: 3px solid #1b7fa6;
            border-radius: 15px;
            margin-left: 8px;
            margin-top: 10px;
             font-size: 24px;
            font-weight: bold;
            box-shadow: 0 10px 15px rgba(0,0,0,0.2);
        }
        button:hover{
            background: #707376;
        }
        button:active {
            transform: scale(0.96);
        }
        .seperator{
            height:4px;
            width:351px;
            background: #1b7fa6;
        }
        button:last-child{
            width: 140px;
            margin-left: 75px;
            background: #6bd42e;
            color:#fff;
        }
         button:last-child:hover{
            width: 140px;
            margin-left: 75px;
            background: #45b405;
        }
        button:nth-child(4){
            background:#e7cd3e ;
        }
        button:nth-child(8){
            background:#e7cd3e ;
        }
        button:nth-child(12){
            background:#e7cd3e ;
        }
        button:nth-child(13){
            background:#e72f0f ;
            color:#fff;
        }
        button:nth-child(16){
            background:#e7cd3e ;
        }
        button:nth-child(15){
            background:#76b0f2 ;
        }
         button:nth-child(15):hover{
            background:#074489 ;
        }
        button:nth-child(4):hover,
        button:nth-child(8):hover,
        button:nth-child(12):hover,
        button:nth-child(16):hover{
            background: #a99106;
        }
        button:nth-child(13):hover{
            background:#8d1803 ;

        }
        .text{
           height: 30px;
           width: 100%;
           color: #19378d;
           margin-top: -15px;
           margin-left: 104px;
           font-size: 22px;
           font-weight: bold;
           text-transform: uppercase;
        }